.usuarios {
    min-width: 635px;
    padding: 25px 0px 10px 40px;
}

.titulo {
    color: #4571e1;
    margin-bottom: 5px;
    font-weight: 500;
}

.info {
    font-weight: lighter;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}
